.pagina-inicial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
    height: 30%;
    padding: 0 10px;
}

.conteudo-opcoes {
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 35px;
    text-align: center;
}

.conteudo-opcoes > a {
    padding: 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.opcao-front-end {
    background-color: rgb(59, 213, 224);
    color: black;
}

.opcao-back-end {
    background-color: rgb(16, 85, 16);
    color: white;
}